Config(
    player: PlayerConfig(
        health: 50.0,
        speed: 7.0,
        acceleration: 50.0,
        dash: DashConfig(
            speed: 10.0,
            width: 0.5,
            damage: 10.0,
        ),
    ),
)
