#![enable(implicit_some)]
Config(
    starting_area: (7.0, 7.0),
    upgrades_per_level: 3,
    difficulty: DifficultyConfig(
        initial: 5.0,
        upgrade_amount: 10.0,
        time_scaling: 0.1,
        room_bonus: 1.0,
        room_exponent: 1.1,
        enemy_health_scaling: 0.5,
        room_size_scaling: 0.5,
        room_size_max: 40.0,
    ),
    score: ScoreConfig(
        room_bonus: 1000,
        upgrade_multiplier: 1.1,
    ),
    player: PlayerConfig(
        health: 50.0,
        speed: 7.0,
        acceleration: 50.0,
        hurt_invincibility_time: 0.5,
        whip: DrawConfig(
            cooldown: (value: 0.0, min: 0.0, max: 0.5),
            max_distance: 8.0,
            speed: 10.0,
            width: 0.5,
            damage: 7.0,
            invincibility_time: 0.0,
        ),
        dash: DrawConfig(
            cooldown: (value: 0.0, min: 0.0, max: 0.3),
            max_distance: 7.0,
            speed: 10.0,
            width: 0.6,
            damage: 6.0,
            invincibility_time: 0.3,
        ),
        bow: DrawConfig(
            cooldown: (value: 0.0, min: 0.0, max: 0.5),
            max_distance: 5.0,
            speed: 10.0,
            width: 0.5,
            damage: 5.0,
            invincibility_time: 0.0,
        ),
        shape: Triangle( height: 0.8 ),
        shield: Circle ( radius: 0.5 ),
    ),
    enemies: {
        "circle": EnemyConfig(
            cost: 1.0,
            score: 50,
            grouping: EnemyGrouping(
                cost: 5.0,
                chance: 0.3,
            ),
            health: 7.0,
            damage: 5.0,
            speed: 3.0,
            acceleration: 5.0,
            shape: Circle( radius: 0.4 ),
            ai: Crawler,
        ),
        "small_tank": EnemyConfig(
            cost: 3.0,
            score: 100,
            grouping: EnemyGrouping(
                cost: 8.0,
                chance: 0.3,
            ),
            health: 12.0,
            damage: 7.0,
            speed: 2.0,
            acceleration: 5.0,
            shape: Rectangle( width: 0.9, height: 0.9 ),
            ai: Crawler,
        ),
        "tank": EnemyConfig(
            cost: 7.0,
            score: 300,
            health: 23.0,
            damage: 10.0,
            speed: 2.0,
            acceleration: 5.0,
            shape: Rectangle( width: 1.1, height: 1.1 ),
            ai: Crawler,
        ),
        "healer": EnemyConfig(
            cost: 4.0,
            score: 300,
            health: 23.0,
            damage: 10.0,
            speed: 2.0,
            acceleration: 5.0,
            shape: Rectangle( width: 1.1, height: 1.1 ),
            ai: Healer (
                range: 5.0,
                heal_ratio: 0.15,
                cooldown: ( value: 0.0, min: 0.0, max: 1.5 ),
            ),
        ),
        "shielder": EnemyConfig(
            cost: 6.0,
            score: 300,
            health: 21.0,
            damage: 10.0,
            speed: 2.0,
            acceleration: 5.0,
            shape: Circle( radius: 0.6 ),
            ai: Shielder (
                preferred_distance: 6.0,
            ),
        ),
        "summoner": EnemyConfig(
            cost: 5.0,
            score: 200,
            health: 16.0,
            damage: 10.0,
            speed: 2.0,
            acceleration: 5.0,
            shape: Circle( radius: 0.5 ),
            ai: Shooter (
                preferred_distance: 10.0,
                charge: ( value: 0.0, min: 0.0, max: 1.5 ),
                bullet: EnemyConfig(
                    score: 10,
                    health: 1.0,
                    damage: 5.0,
                    speed: 3.0,
                    acceleration: 5.0,
                    shape: Triangle ( height: 0.6 ),
                    ai: Crawler,
                ),
            ),
        ),
        "pacman": EnemyConfig(
            score: 4000,
            health: 300.0,
            damage: 20.0,
            speed: 6.0,
            acceleration: 100.0,
            shape: Circle ( radius: 1.0 ),
            ai: Pacman ( ),
        ),
        "helicopter": EnemyConfig(
            score: 9000,
            mass: 100.0,
            health: 400.0,
            damage: 50.0,
            speed: 20.0,
            acceleration: 8.0,
            shape: Circle ( radius: 1.5 ),
            ai: Helicopter ( ),
        ),
    },
    bosses: [
        BossConfig(
            room: 5,
            room_size: ( 30.0, 30.0 ),
            enemies: [
                "pacman",
            ],
        ),
        BossConfig(
            room: 10,
            room_size: ( 30.0, 30.0 ),
            enemies: [
                "helicopter",
            ],
        ),
    ]
)
