// <https://lospec.com/palette-list/bornana-12>
Palette(
    background: "#01061c",
    room: "#031b30",
    wall: "#fdffcf",
    wall_block: "#e8985f",
    player: "#fdffcf",
    object: "#234a57",
    enemy: "#eaf257",
    health: "#b52d6d",
    drawing: "#e6c081",
    dash: "#fdffcf",
    damage: "#b52d6d",
    collision: "#eaf257",
)
